# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# Optional npm cache directory
.npm/

# Environment variables
.env
.env.*   # for cases like .env.production, .env.development

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Uploads or temporary files (if used)
uploads
